body{
    background-color: #e6e6e6;
    font-family: sans-serif
}

fieldset {
    position: absolute;
    background-color: #ffffcc;
    left: 10px;
    top: 10px;
    width: 260px;
    height: 160px
}

#result {
    position: absolute;
    left: 300px;
    top: 100px
}

span.error {
    position: relative;
    top: 5px;
    color: #f00;
}

#show {
    position: absolute;
    top:200px
}

table {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-collapse: collapse
}

td, th, tr{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-collapse: collapse;
    text-align: center
}