<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>NewUser</servlet-name>
        <servlet-class>it.unipa.guarisco.Servlets.NewUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>it.unipa.guarisco.Servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>it.unipa.guarisco.Servlets.Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployee</servlet-name>
        <servlet-class>it.unipa.guarisco.Servlets.AddEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadSeats</servlet-name>
        <servlet-class>it.unipa.guarisco.Servlets.LoadSeats</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeSeat</servlet-name>
        <servlet-class>it.unipa.guarisco.Servlets.TakeSeat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FreeSeat</servlet-name>
        <servlet-class>it.unipa.guarisco.Servlets.FreeSeat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeatState</servlet-name>
        <servlet-class>it.unipa.guarisco.Servlets.SeatState</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeatInfo</servlet-name>
        <servlet-class>it.unipa.guarisco.Servlets.SeatInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Order</servlet-name>
        <servlet-class>it.unipa.guarisco.Servlets.MakeOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOrder</servlet-name>
        <servlet-class>it.unipa.guarisco.Servlets.CheckOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPurchases</servlet-name>
        <servlet-class>it.unipa.guarisco.Servlets.GetPurchases</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CookOrders</servlet-name>
        <servlet-class>it.unipa.guarisco.Servlets.CookOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatus</servlet-name>
        <servlet-class>it.unipa.guarisco.Servlets.UpdateStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAll</servlet-name>
        <servlet-class>it.unipa.guarisco.Servlets.GetAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>it.unipa.guarisco.Servlets.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>it.unipa.guarisco.Servlets.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewUser</servlet-name>
        <url-pattern>/NewUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployee</servlet-name>
        <url-pattern>/AddEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadSeats</servlet-name>
        <url-pattern>/LoadSeats</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeSeat</servlet-name>
        <url-pattern>/TakeSeat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FreeSeat</servlet-name>
        <url-pattern>/FreeSeat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeatState</servlet-name>
        <url-pattern>/SeatState</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeatInfo</servlet-name>
        <url-pattern>/SeatInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Order</servlet-name>
        <url-pattern>/Order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOrder</servlet-name>
        <url-pattern>/CheckOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPurchases</servlet-name>
        <url-pattern>/GetPurchases</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CookOrders</servlet-name>
        <url-pattern>/CookOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatus</servlet-name>
        <url-pattern>/UpdateStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAll</servlet-name>
        <url-pattern>/GetAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
